body {
  font-family: "Roboto", sans-serif;
}

.debug {
  background-color: rgb(243, 189, 189);
  border: 1px solid black;
}

.col.col_vb {
  flex: 0 0 0%;
}

.main-wrap {
  height: 100vh;
  width: 100%;
}

.main-wrap nav {
  height: 70px;
  width: 100%;
}

.main-wrap aside {
  height: calc(100vh - 70px);
  width: 75px;
  background-color: red;
}

.main-wrap .main-content {
  width: calc(100% - 150px);
  height: calc(100vh - 70px);
  overflow-y: auto;
}

/* NAV ********************** */

nav .img-box {
  height: 100%;
  /* line-height: 70px; */
}

nav img.mob-logo {
  width: 40px;
  object-fit: cover;
}

nav .form_search_bar {
  background-color: #e5e5e5;
}

nav .form-control-search_ctm {
  background-color: #e5e5e5;
  line-height: 2;
  /* border-top-left-radius: 0;
  border-bottom-left-radius: 0; */
}

nav .form-control-search_ctm:focus {
  box-shadow: none;
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
}

nav .form-control-search_ctm::placeholder {
  font-size: 14px;
  font-weight: 600;
  color: #828282;
}

.main-content .main-content-head {
  background-color: #1c71e7;
}

/* ASIDE ********************* */
aside a.link_ctm {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
}

aside a.link_ctm:hover {
  background-color: #ffffff76;
}

aside a.link_ctm i {
  font-size: 18px;
}

/* **********************************
MEDIA QUERY 
*********************************** */

@media screen and (min-width: 992px) {
  .main-wrap aside {
    width: 150px;
  }

  .main-wrap .main-content {
    width: calc(100% - 150px);
  }
}
