body {
  background-color: #f8f9fa;
}
.t_0 {
  top: 0;
}
.r_0 {
  right: 0;
}
.zx_999 {
  z-index: 999;
}
.debug {
  background-color: rgb(244, 188, 188);
  border: 1px solid black;
  min-height: 60px;
}
:root {
  --blu-header: #1c71e7;
  --darkblu-aside: #051d34;
  --lightgray_body: #f8f9fa;
}
nav {
  height: 80px;
  background-color: var(--lightgray_body);
  color: black;
}
/* BODY-PAGE ****************** */
.body_page {
  height: 100vh;
  margin-top: 80px;
}
.body_page .aside {
  width: 75px;
  height: 100%;
  background-color: var(--darkblu-aside);
}
.body_page .principal {
  width: calc(100vw - 75px);
  height: 100%;
}
